

.carousel{height: 700px;}



.carousel-inner{margin: 0 20% 0 0;}

img.img-fluid{height: 750px; width: auto; margin: 3% auto 0 auto;}

.gallery-lg{height: 830px; margin: 0 0 10px 0; width: 100%; background-color: #26304f;}

.main-gal{padding: 0; transition: opacity .6s; height: 200px; overflow: hidden;}

.main-gal:hover{opacity: 0.5;}

.main-cont{margin-top: 15px;}

.col-sm-4{width: 33.33%;}

.row{width: 100%; margin: 0;}

img{width: 350px; height:auto; border: 1px solid white;}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 80px;
    right: 300px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 991px){#thumbs{margin-top:30px;}}

@media(max-width: 991px){

	.close{
		top: 60px;
		right: 10px;}


	img{width: 200px; height:auto; border: 1px solid white;}

	.main-gal{height: 119px;}



}
