.proy-box{width: 100%; height:300px; background-color: #444444; margin-bottom:1px; padding-bottom: 1px;}

.img-box-l{width: 33%; height: 100%; overflow: hidden; float: left;}
.img-box-r{width: 33%; height: 100%; overflow: hidden; float: right;}

.text-box{color: white; padding: 10px 0 0 0;}

@media(max-width: 991px){

.proy-box{height: 70%;}

.img-box-l, .img-box-r {float:none; width: 100%;}

}